# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtualenv
.venv/
venv/
ENV/
.env

# IDEs
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info

# Databases
*.sqlite3
*.db

# Logs
*.log

# Pytest
.pytest_cache/

# Docker
docker-compose.override.yml

# Misc
*.DS_Store
